<footer class="ftco-footer ftco-footer-2 ftco-section" style="margin-top:50px">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-footer-logo">GRUPO<span> Benchmark</span></h2>
          <p>El <b> Benchmarking </b>es un proceso de que se da en forma continua y de donde se toman referencias de los productos, servicios y metodologías de trabajo de la <b> competencia </b> y <b> empresas líderes </b>; estas referencias se comparan con las de la empresa para realizar mejoras y posteriormente aplicarlas</p>
          <ul class="ftco-footer-social list-unstyled mt-2">
            <li class="ftco-animate"><a href="#"><span class="fa fa-twitter"></span></a></li>
            <li class="ftco-animate"><a href="#"><span class="fa fa-facebook"></span></a></li>
            <li class="ftco-animate"><a href="#"><span class="fa fa-instagram"></span></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4 ml-md-5">
          <h2 class="ftco-heading-2">Accesos</h2>
          <ul class="list-unstyled">
            <a class="nav-item nav-link active" routerLink="/home">Inicio</a>
            <a class="nav-item nav-link active" routerLink="/about">Nosotros</a>
            <a class="nav-item nav-link active" routerLink="/services">Servicios</a>
            <a class="nav-item nav-link active" routerLink="/contact">Contacto</a>
            <a class="nav-item cta nav-link active " routerLink="/clients">Ingreso Clientes</a>
          </ul>
        </div>
      </div>
      <div class="col-md">
       <div class="ftco-footer-widget mb-4">
        <h2 class="ftco-heading-2">Información</h2>
        <ul class="list-unstyled">
          <li><a href="#" class="py-2 d-block">Solicitar Acceso</a></li>
          <li><a href="#" class="py-2 d-block">Soporte Técnico</a></li>
          <li><a href="#" class="py-2 d-block">Legal y Privacidad</a></li>
          <li><a href="#" class="py-2 d-block">Términos y Condiciones</a></li>
          <li><a href="#" class="py-2 d-block">RRHH y Carreras</a></li>
        </ul>
      </div>
    </div>
    <div class="col-md">
      <div class="ftco-footer-widget mb-4">
       <h2 class="ftco-heading-2">Necesita más Información</h2>
       <div class="block-23 mb-3">
         <ul>
           <li><span class="icon fa fa-map marker"></span><span class="text">San Lorenzo 77, Nueva Córdoba</span></li>
           <li><a href="#"><span class="icon fa fa-paper-plane pr-4"></span><span class="text">info@grupobechmark.com</span></a></li>
         </ul>
       </div>
     </div>
   </div>
 </div>
 <div class="row">
  <div class="col-md-12 text-center">

    <p>
      Copyright &copy;2020<script>document.write(new Date().getFullYear());</script> Todos los derechos reservados

      </p>
    </div>
  </div>
</div>
</footer>
